@font-face {
  font-family: 'iconfont'; /* Project id 2713121 */
  src: url('iconfont.woff2?t=1628472694529') format('woff2'),
    url('iconfont.woff?t=1628472694529') format('woff'),
    url('iconfont.ttf?t=1628472694529') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-denglu-mima:before {
  content: '\e60b';
}

.icon-denglu-yonghuming:before {
  content: '\e60c';
}

.icon-shuaxin:before {
  content: '\e68c';
}

.icon-huochezhantianchong:before {
  content: '\e6b0';
}

.icon-shouji:before {
  content: '\e6b7';
}

.icon-liwu:before {
  content: '\e623';
}

.icon-jipiao:before {
  content: '\e63b';
}

.icon-jiudian:before {
  content: '\e603';
}

.icon-licai:before {
  content: '\e6aa';
}

.icon-caipiao1:before {
  content: '\e6ba';
}

.icon-baitiao:before {
  content: '\e61a';
}

.icon-baitiaoquanyi:before {
  content: '\e61d';
}

.icon-baitiaoshanfu:before {
  content: '\e632';
}

.icon-jiayouzhan:before {
  content: '\e68d';
}

.icon-baitiaoedu:before {
  content: '\e63e';
}

.icon-dianyingpiao:before {
  content: '\e616';
}

.icon-youxi:before {
  content: '\e6cb';
}

.icon-liwu2:before {
  content: '\f1de';
}

.icon-xiangyou:before {
  content: '\e6af';
}

.icon-xiangxia:before {
  content: '\e665';
}

.icon-shoucang:before {
  content: '\e66c';
}

.icon-gouwuche:before {
  content: '\e622';
}

.icon-gouwuchefuben:before {
  content: '\e604';
}
